{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nosifer&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/list_of_cards.css' %}">
  <link 
  {% if 'dashboard' == request.path %}
    rel="stylesheet" href="{% static 'css/card.css' %}"
  {% endif %}>
  <link 
    {% if '/' == request.path %}
      rel="stylesheet" href="{% static 'css/login/login.css' %}"
    {% endif %}>

  
  <title>Saburly {% block title %}{% endblock %}</title>

</head>
<body>
    <!-- Content -->
    {% block content %}{% endblock %}

    <script src="{% static 'js/card.js' %}"></script>
</body>
</html>
